:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --color-logo: #000000;
    --color-background: #2F303A;
    --color-footer-contact: #FFFFFF60;
    --background-button-member: #F5F4FA;
    --primary-color-white: #FFFFFF;
    --color-box-button: #188CEB;

}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Container */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: roboto, sans-serif;
    min-width: 1200px
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* LOGO*/
/* NAV*/
.logo {
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.logo-color {
    color: var(--color-logo);
}
.header {
    border-bottom: 1px solid #ececec;
}
.header-container{
    display: flex;
    justify-content: center;
}
.nav,
.nav-list,
.contact-list {
    display: flex;
    align-items: center;
}
/*.nav-list .nav-item:not(:last-child){
    margin-right: 50px;
}*/
.nav-list .nav-item+.nav-item {
    margin-left: 50px;
}
.nav-list {
    margin-left: 90px;
}
.contact-item+.contact-item{
   margin-left: 50px;
}
.contact-list{
   margin-left: auto;
}

.nav-item a{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.nav-list .link.current {
    color: var(--accent-color);
}
.contact-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.icon-link{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
    color: var(--accent-color);
}
.contact-link.mail,
.contact-link.phone {
    display: flex;
    color: var(--primary-text-color);
    align-items: center;
}
.link.contact-link:focus,
.link.contact-link::after{
    color: var(--accent-color);
    cursor: pointer;
    fill: currentColor;
}


/*----BOX ------*/

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    height: 600px;

   /*---Размещение картинки под фоном--*/
    max-width: 1600px;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/officebackground\ .jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.box-title {
    width: 696px;
    margin-bottom: 30px;

    color: var(--primary-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}    
.box-button {
     display: flex;

    color: var(--primary-color-white);
    background-color: var(--accent-color);
    font-family: Roboto,
    sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    text-transform: none;
    letter-spacing: 0.06em;
    border: 0px;
    border-radius: 3px;

    padding: 10px 32px;
}
.box-button:hover,
.box-button:focus {
    background-color: var(--color-box-button);
}


/* ПРЕТМУЩЕСТВА*/

.benefits-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.benefits-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-transform: none;
    letter-spacing: 0.03em;
}
.benefits-list{
    display: flex;
}
.benefits-list .benefits-item+.benefits-item {
    margin-left: 30px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px; 
}
/* скрытый заголовок*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* ИКОНКИ размещение. */
  
.benefits-item::before{
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
/* можно задать класс для li и сделать через класс*/
.benefits-item:nth-child(1)::before{
    background-image: url(../images/icon/antenna.svg);
}
.benefits-item:nth-child(2)::before{
    background-image: url(../images/icon/clock.svg);
}
.benefits-item:nth-child(3)::before{
    background-image: url(../images/icon/diagram.svg);
}
.benefits-item:nth-child(4)::before{
    background-image: url(../images/icon/astronaut.svg);
}

/* Чем мы занимаемся----------*/

.directions-title{
     color: var(--title-text-color);
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     text-align: center;
     text-transform: none;
     letter-spacing: 0.03em;
}
.directions-list{
    display: flex;
    padding-top: 50px;
}
.directions-item+.directions-item{
    margin-left: 30px;
}
.directions.section{
    padding-top: 0; 
    padding-bottom: 0;
}

/*Наша команда----------------*/

.team-list{
    display: flex;
    margin-top: 50px;
}
.team-item-text-container{
    padding: 30px 0;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
.team {
    background-color: var(--background-button-member);

    /*outline: 2px solid red;
    background-color: coral;*/
}
.team-item {
    background-color: var(--primary-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item+.team-item{
    margin-left: 30px;
}
.team-name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
.team-position {
    margin-top: 10px;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}
/* Иконки соцсети*/
.team-social-links::after{
    display: block;
    content: "";
    height: 44px;
    width: 206px;
    margin: 16px 32px 30px 32px;
    background-repeat: no-repeat;
    background-origin: ;
    background-size: 20px 20px;

    outline: 1px solid red;

    background-image: url(../images/instagram1.svg);
}

/*footer*/

.footer {
    background-color: var(--color-background);
    padding: 60px 0;
}
.address{
    margin-top: 20px;
}
.address-list{
    display: flex;
    flex-direction: column;
} 
.address-item+.address-item{
    margin-top: 9px;
}
.footer-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.footer-color {
    color: var(--primary-color-white);
}
.footer-address {
    color: var(--primary-color-white);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}
.footer-link {
    color: var(--color-footer-contact);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.03em;
}



/* Портфолио---------*/

.filter-list{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;

     /*outline: 2px solid red;
    background-color: coral;*/
}
.filter-list-item+.filter-list-item {
    margin-left: 8px;
}
.filter-button {
    margin: 0 auto;
    border-radius: 4px ;
    padding: 6px 22px;
    
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 0s, 1s;

    font-family: Roboto,sans-serif;
    color: var(--title-text-color);
    background-color: var(--background-button-member);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    border: transparent;
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-color-white);
}

/*projects-list*/

.projects-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
}
/*Тени*/
.projects-list-item{
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
    box-shadow: 10px 10px 10px -5px #EEEEEE;
}
.projects-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    text-decoration: none;

    margin-bottom: 4px;
}
.projects-list-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-transform: none;
}
.projects-link{
     text-transform: none;
     text-decoration: none;
}
.projects-title-text-container{
   padding: 20px 24px; 
   border-right: 1px solid #ececec;
   border-bottom: 1px solid #ececec;
   border-left: 1px solid #ececec;
  
}

